<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="app.css" />
    <title>#party</title>
  </head>
  <body>
    <div class="container">
      <header class="header clearfix"><h3 class="text-muted">#party</h3></header>
      <main id="app" role="main">
	<div class="row app">
	  <div class="col-lg">
	    <div class="input-group mb-3">
	      <input type="text" class="form-control" autofocus
		     aria-label="value" aria-describedby="value"
		     v-model="newHashtag" @keyup.enter="addNewHashtag">
	    </div>
	    <div class="input-group">
	      <button type="button" class="btn btn-light" v-on:click="copyToClipboard()" >
		copy <span class="badge badge-light" v-bind:class="{'text-muted': chosenHashtags.length < 20, 'text-warning': 20 < chosenHashtags.length < 30, 'text-danger': chosenHashtags.length > 30}">
		{{ chosenHashtags.length }} / 30
		</span>
	      </button>
	      <button type="button" class="btn btn-light" v-on:click="addAllHashtags()">all</button>
	      <button type="button" class="btn btn-light" v-on:click="clearChosenHashtags()">clear</button>
	    </div>
	  </div>
	</div>
	<div class="row app">
	  <div class="col-lg">
	    <ul class="list-inline">
	      <li class="list-inline-item" v-for="hashtag in chosenHashtags">
		<button v-on:click="removeChosenHashtag(hashtag)" type="button" class="btn btn-info my-1">{{ hashtag }}</button>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="row app">
	  <div class="col-lg">
	    <ul class="list-inline">
	      <li class="list-inline-item" v-for="hashtag in alphabetized(filteredAvailableHashtags)">
		<button v-on:click="availableHashtagClick(hashtag)" type="button" class="btn btn-light my-1">{{ hashtag }}</button>
	      </li>
	    </ul>
	  </div>
	</div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" ></script>
  </body>
</html>
